In [4]:
def source_finder(str):
    return str[21:]

In [5]:
source_finder('price:345.324:SOURCE-QUANDL')

'QUANDL'

In [17]:
def price_finder(price):
    if price.lower().find("price") == -1:
        return False
    else :
        return True

In [19]:
price_finder('The price is 300')

True

In [64]:
def count_price(s):
    counter = 0
    s2 = s.split(" ")
    for word in s2:
        if(word.lower().find("price")!=-1):
            print(word)
            counter = counter +1
    return counter

In [66]:
count_price("wow this is a nice price, very nice price! I said PRICE 3 times")

price,
price!
PRICE

3

In [78]:
from statistics import mean
def avg_price(priceList):
    return mean(priceList)

In [79]:
avg_price([2,3,4])

3

In [85]:
import numpy as np
import pandas as pd

labels = ['a','b','c',]
my_list = [10,20,30]
arr = np.array([10,20,30])
dico = {'a':10,'b':20,'c':100}

In [87]:
pd.Series(my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [88]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

In [89]:
pd.Series(dico)

a     10
b     20
c    100
dtype: int64

In [90]:
from numpy.random import randn
np.random.seed(101)

In [94]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [106]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [107]:
df['W']

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

In [111]:
df['NEW'] = df['W'] + df['Y']

In [115]:
df.drop('NEW',axis=1,inplace=True)

In [117]:
df.drop('E')

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752

In [122]:
df.iloc[2]

W    0.807706
X    0.072960
Y    0.638787
Z    0.329646
Name: C, dtype: float64

In [125]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  0.302665 -1.706086
B -0.134841  0.166905

In [130]:
booldf = df > 0
df[booldf]

          W         X         Y         Z
A  0.302665  1.693723       NaN       NaN
B       NaN  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D       NaN       NaN       NaN  0.484752
E       NaN  1.901755  0.238127  1.996652