In [1]:
def source_finder(str):
    return str[21:]

In [2]:
source_finder('price:345.324:SOURCE-QUANDL')

'QUANDL'

In [3]:
def price_finder(price):
    if price.lower().find("price") == -1:
        return False
    else :
        return True

In [4]:
price_finder('The price is 300')

True

In [5]:
def count_price(s):
    counter = 0
    s2 = s.split(" ")
    for word in s2:
        if(word.lower().find("price")!=-1):
            print(word)
            counter = counter +1
    return counter

In [6]:
count_price("wow this is a nice price, very nice price! I said PRICE 3 times")

price,
price!
PRICE

3

In [7]:
from statistics import mean
def avg_price(priceList):
    return mean(priceList)

In [8]:
avg_price([2,3,4])

3

In [9]:
import numpy as np
import pandas as pd

labels = ['a','b','c',]
my_list = [10,20,30]
arr = np.array([10,20,30])
dico = {'a':10,'b':20,'c':100}

In [10]:
pd.Series(my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(dico)

a     10
b     20
c    100
dtype: int64

In [13]:
from numpy.random import randn
np.random.seed(101)

In [14]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [15]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [16]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [17]:
df['NEW'] = df['W'] + df['Y']

In [18]:
df.drop('NEW',axis=1,inplace=True)

In [19]:
df.drop('E')

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [20]:
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [21]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

In [22]:
booldf = df > 0
df[booldf]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [27]:
newind = 'CA NY WY OR CO'.split()

In [28]:
newind

['CA', 'NY', 'WY', 'OR', 'CO']

In [29]:
df['States'] = newind

In [32]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [43]:
outside = ['G1','G1','G1','G2','G2','G2',]
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [45]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [49]:
df

             A         B
G1 1  1.025984 -0.156598
   2 -0.031579  0.649826
   3  2.154846 -0.610259
G2 1 -0.755325 -0.346419
   2  0.147027 -0.479448
   3  0.558769  1.024810

In [53]:
df.index.names = ['Groups','Num']

In [57]:
df.xs(1,level='Num')

               A         B
Groups
G1      1.025984 -0.156598
G2     -0.755325 -0.346419

In [58]:
pwd

'/Users/martinfournier/git/pythonfinance'

In [68]:
headers = ['timestamp', 'open', 'high', 'low','close','volume']
pd.read_csv('EURUSD_M1_201803.csv',sep=';',names=headers,parse_dates=True)

                     timestamp     open     high      low  volume
2018-03-01 00:00:00    1.21935  1.21935  1.21931  1.21931       0
2018-03-01 00:01:00    1.21932  1.21932  1.21917  1.21920       0
2018-03-01 00:02:00    1.21919  1.21925  1.21918  1.21918       0
2018-03-01 00:03:00    1.21921  1.21923  1.21918  1.21919       0
2018-03-01 00:04:00    1.21918  1.21926  1.21917  1.21926       0
2018-03-01 00:05:00    1.21927  1.21934  1.21923  1.21929       0
2018-03-01 00:06:00    1.21930  1.21930  1.21913  1.21914       0
2018-03-01 00:07:00    1.21913  1.21928  1.21913  1.21928       0
2018-03-01 00:08:00    1.21928  1.21940  1.21928  1.21938       0
2018-03-01 00:09:00    1.21936  1.21939  1.21928  1.21939       0
2018-03-01 00:10:00    1.21940  1.21940  1.21934  1.21935       0
2018-03-01 00:11:00    1.21936  1.21946  1.21935  1.21945       0
2018-03-01 00:12:00    1.21950  1.21969  1.21948  1.21965       0
2018-03-01 00:13:00    1.21964  1.21967  1.21953  1.21961       0
2018-03-01 00:14:00    1.21960  1.21961  1.21958  1.21960       0
2018-03-01 00:15:00    1.21957  1.21959  1.21949  1.21949       0
2018-03-01 00:16:00    1.21951  1.21951  1.21937  1.21939       0
2018-03-01 00:17:00    1.21939  1.21943  1.21939  1.21943       0
2018-03-01 00:18:00    1.21943  1.21943  1.21936  1.21936       0
2018-03-01 00:19:00    1.21936  1.21941  1.21935  1.21937       0
2018-03-01 00:20:00    1.21936  1.21936  1.21933  1.21934       0
2018-03-01 00:21:00    1.21935  1.21938  1.21932  1.21938       0
2018-03-01 00:22:00    1.21939  1.21944  1.21939  1.21944       0
2018-03-01 00:23:00    1.21945  1.21950  1.21945  1.21949       0
2018-03-01 00:24:00    1.21948  1.21948  1.21934  1.21939       0
2018-03-01 00:25:00    1.21938  1.21943  1.21934  1.21934       0
2018-03-01 00:26:00    1.21935  1.21935  1.21928  1.21929       0
2018-03-01 00:27:00    1.21929  1.21930  1.21929  1.21930       0
2018-03-01 00:28:00    1.21930  1.21931  1.21924  1.21928       0
2018-03-01 00:29:00    1.21928  1.21937  1.21923  1.21923       0
...                        ...      ...      ...      ...     ...
2018-03-23 16:29:00    1.23586  1.23588  1.23585  1.23588       0
2018-03-23 16:30:00    1.23589  1.23590  1.23566  1.23566       0
2018-03-23 16:31:00    1.23567  1.23567  1.23556  1.23558       0
2018-03-23 16:32:00    1.23558  1.23573  1.23558  1.23571       0
2018-03-23 16:33:00    1.23577  1.23577  1.23566  1.23566       0
2018-03-23 16:34:00    1.23568  1.23573  1.23563  1.23571       0
2018-03-23 16:35:00    1.23570  1.23570  1.23563  1.23565       0
2018-03-23 16:36:00    1.23565  1.23565  1.23563  1.23565       0
2018-03-23 16:37:00    1.23566  1.23573  1.23564  1.23570       0
2018-03-23 16:38:00    1.23569  1.23569  1.23567  1.23568       0
2018-03-23 16:39:00    1.23568  1.23578  1.23568  1.23576       0
2018-03-23 16:40:00    1.23578  1.23581  1.23576  1.23576       0
2018-03-23 16:41:00    1.23576  1.23579  1.23576  1.23576       0
2018-03-23 16:42:00    1.23576  1.23580  1.23573  1.23573       0
2018-03-23 16:43:00    1.23573  1.23581  1.23573  1.23577       0
2018-03-23 16:44:00    1.23583  1.23588  1.23582  1.23587       0
2018-03-23 16:45:00    1.23589  1.23589  1.23582  1.23582       0
2018-03-23 16:46:00    1.23582  1.23586  1.23567  1.23567       0
2018-03-23 16:47:00    1.23567  1.23567  1.23542  1.23544       0
2018-03-23 16:48:00    1.23544  1.23556  1.23542  1.23556       0
2018-03-23 16:49:00    1.23554  1.23565  1.23554  1.23563       0
2018-03-23 16:50:00    1.23562  1.23562  1.23547  1.23548       0
2018-03-23 16:51:00    1.23547  1.23552  1.23543  1.23549       0
2018-03-23 16:52:00    1.23549  1.23549  1.23537  1.23545       0
2018-03-23 16:53:00    1.23544  1.23544  1.23529  1.23535       0
2018-03-23 16:54:00    1.23534  1.23535  1.23522  1.23528       0
2018-03-23 16:55:00    1.23528  1.23535  1.23512  1.23535       0
2018-03-23 16:56:00    1.23535  1.23539  1.23515  1.23515       0
2018-03-23 16:57:00    1.23515  1.23531  1.23515  1.23527       0
2018-03-23 16:58:00    1.23527  1.23527  1.23522  1.23523       0

[24004 rows x 5 columns]